torch==1.7.1
torchvision==0.8.2
numpy
opencv-contrib-python
pandas==1.1.5
matplotlib==3.3.4
seaborn==0.11.0
motmetrics
pygifsicle
imageio
munkres
imageio
imageio-ffmpeg
tqdm
filterpy
# Detectron2: Find installation instructions for your system on the official github
